body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}
#logo_carro {
  width: 150px;
  padding: 10px;
}
.subtitulo {
  font-size: 4rem;
  line-height: 1;
  text-transform: uppercase;
  align-content: center;
}
