.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.menu a {
  font-size: 1.2rem;
  font-style: bold;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  display: flex;
  background-color: #505050;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;

    gap: 10px;
    padding: 20px;
  }
}
